<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    
    <global-method-security pre-post-annotations="enabled" />
    
	<http use-expressions="true" auto-config="true">
		
		<intercept-url pattern="/user/*" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/shop/*" access="hasRole('ROLE_USER')" />
		
		<form-login login-page="/user-login.html" 
			default-target-url="/user/login.html"
			authentication-failure-url="/error-login.html" />
		<logout logout-success-url="/index.html" />
		<remember-me key="rememberMeYC" />
		
	</http>
	
	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>